# ---------- PIPELINES ----------

stages:
  - build
  - test
  - deploy

cache:
  paths:
    - vendor/
    - ~/.composer/cache/

variables:
  DEPLOY_USER: $USER
  DEPLOY_HOST: $HOST
  DEPLOY_PATH: /var/www/dms-pdu
  BRANCH_DEPLOY: dev-ann
  MYSQL_DATABASE: $DBNAME
  MYSQL_USER: $DBUSER
  MYSQL_PASSWORD: $DBPASSWORD  

# ---------- BUILD ----------
build_app:
  stage: build
  image: laravelsail/php82-composer:latest
  script:
    - echo "Installing dependencies..."
    - composer install --prefer-dist --no-ansi --no-interaction --no-progress
    - cp .env.example .env
    - php artisan key:generate
    - php artisan config:clear
  artifacts:
    expire_in: 1 month
    paths:
      - vendor/

# ---------- TEST ----------
unit_test_app:
  stage: test
  only:
    - dev-ann
  image: laravelsail/php82-composer:latest
  services:
    - mysql:latest
  variables:
    MYSQL_DATABASE: test_db
    MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
  script:
    - apt-get update 
    - apt-get install -y unzip default-mysql-client libpng-dev libzip-dev libonig-dev libxml2-dev
    - docker-php-ext-install pdo_mysql
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    - composer require --dev phpunit/phpunit
    - composer install
    - cp .env.example .env
    - sed -i 's/DB_HOST=127.0.0.1/DB_HOST=mysql/' .env
    - php artisan key:generate
    - php artisan config:cache
    - php artisan migrate --seed
    - php artisan test

# ---------- DEPLOY ----------
deploy_to_vps:
  stage: deploy
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_BRANCH == "main"'
      when: manual
    - if: '$CI_COMMIT_BRANCH == "dev-ann"'
      when: manual
    - when: never

  before_script:
    - echo "Starting deployment to VPS..."
  script:
    - apt-get update && apt-get install -y rsync openssh-client

    - export CI_DEPLOY_KEY_864="LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUNGd0FBQUFkemMyZ3RjbgpOaEFBQUFBd0VBQVFBQUFnRUFtR2hwTTdxRjJIdldiMTBLb0lFNXdMQjZoOVdBeUN6alo4UlgyWG5pNSs0ZlkvNkgrK1pvCll3RDVHbGQ5cndnZGw1RVRwMFhVYzQ1NGs5ZkQrbWhFbHdPaDRUcVFiODVuT0RXTUxSZ2Flc0JwQUkrSTl1MWlERHJaVy8KVlRSakJ1djA0S1l0dCtuUVRhT25JVC9HejJpamQzeW1xVURoMFNDTXhsbWdHNDJYRFU4TDJmZjh3Nkx0SG1BOWJOdlVGdgpPczZjeFZqcnZvWU1Qb0ZDRG5yUkRMSjdoQTJ2RTBsQjArVVNUNmlIZFhQOVczYWlPK2MydFYwSUN1SzdKVHZtdFNocVh3Clh6blErdTZ2ZjlpZG44QWZ3Z0hCdlBGeDk0bllIbjJxbUdGaEpoVk9vS1JkVmpSWlFIZFIreFBWcUtrQ01MSEx3cnZlWisKalp1UTBPWGwrbDZGendTekFrOVhWekRiSXBSK2haWVVwclBmbDRxdDkvakVaZkFxSU5tYm5oRnArTmJVdUZHRXcrSlVFcwp4OHZFODJQTzJPMlRtRkIwSFBVaXRhbHIveXhkL0JJeERUZmNiQ0xtZUdTUFZ6VDVhNDROV09vcTZqODF3OUxpZmhSMmtyCkY5QlZ5U2lhZmhVOE9kRnAzSGdDZjJ2WThMbWZwUWtCUTB3UXE0U0h4Ulp1MzZ2YTFrSm9PZjVyRXMreDV4NFFQb01COUQKNFF2R3pIYVRRK3Qxd0hQNytGKzFFWFhjbkx6M2dUMExrRTFvRHFiVzNMT3Mybk12Y25iUkN0ZXlya3JhKytnZTRZTGswbApoNHBnZXhUWEFwczB2UzNudEk5TFpwMHRFNGxEUC8zVFRySjFyeTFOWDZ3Tiswdk5mY3A5dGpuSmY5bHY1NDY5aEFVZXZaClVBQUFkUUF4RFI3d01RMGU4QUFBQUhjM05vTFhKellRQUFBZ0VBbUdocE03cUYySHZXYjEwS29JRTV3TEI2aDlXQXlDemoKWjhSWDJYbmk1KzRmWS82SCsrWm9Zd0Q1R2xkOXJ3Z2RsNUVUcDBYVWM0NTRrOWZEK21oRWx3T2g0VHFRYjg1bk9EV01MUgpnYWVzQnBBSStJOXUxaUREclpXL1ZUUmpCdXYwNEtZdHQrblFUYU9uSVQvR3oyaWpkM3ltcVVEaDBTQ014bG1nRzQyWERVCjhMMmZmOHc2THRIbUE5Yk52VUZ2T3M2Y3hWanJ2b1lNUG9GQ0RuclJETEo3aEEydkUwbEIwK1VTVDZpSGRYUDlXM2FpTysKYzJ0VjBJQ3VLN0pUdm10U2hxWHdYem5RK3U2dmY5aWRuOEFmd2dIQnZQRng5NG5ZSG4ycW1HRmhKaFZPb0tSZFZqUlpRSApkUit4UFZxS2tDTUxITHdydmVaK2padVEwT1hsK2w2Rnp3U3pBazlYVnpEYklwUitoWllVcHJQZmw0cXQ5L2pFWmZBcUlOCm1ibmhGcCtOYlV1RkdFdytKVUVzeDh2RTgyUE8yTzJUbUZCMEhQVWl0YWxyL3l4ZC9CSXhEVGZjYkNMbWVHU1BWelQ1YTQKNE5XT29xNmo4MXc5TGlmaFIya3JGOUJWeVNpYWZoVThPZEZwM0hnQ2Yydlk4TG1mcFFrQlEwd1FxNFNIeFJadTM2dmExawpKb09mNXJFcyt4NXg0UVBvTUI5RDRRdkd6SGFUUSt0MXdIUDcrRisxRVhYY25MejNnVDBMa0Uxb0RxYlczTE9zMm5NdmNuCmJSQ3RleXJrcmErK2dlNFlMazBsaDRwZ2V4VFhBcHMwdlMzbnRJOUxacDB0RTRsRFAvM1RUckoxcnkxTlg2d04rMHZOZmMKcDl0am5KZjlsdjU0NjloQVVldlpVQUFBQURBUUFCQUFBQ0FBM1c3clZXK3VBcGYvNC8yQ215dDdXdGhqV1VmU3ZGbG1iWQpyUDQweVJhS016UGMxcWl1QjdlZklkVUlYSU9LNTBrRCt3d1FWV3VpNUlSNXJqUlhIZUlLdEpDanhVbVVnc29DRHN4cUtSClFSZnl6THNVSjBWRUxMdGV1RVQ2b0sxdHVzc0s1cnc4ZkFFT01JSGVsK1ZEV1dpNGNJS09hajNDYzJ0d1BibzlkVzhzeU8KVGpxeTBjRVRxQXZ4aUdBOFhoSGNnTjdvMEF0NUxRa2dxck51NS94N3JxZFRVM0p3WkxlNFVFZmNoQThnZ213T1RmVnc3YgpFSUZYcTJQbUZIV3hBRFJLN1pURmNXL1ZRZFF6QXVrNzd6RC9xNEh4VGpTT0YxL094ZHd0Zk9sbmtPckVmTmRKb2ZzdWVxCkFqOFIzRGhIZmwycHpBZTVYbG8vTzFERTRra01scHVTSEdhaFdVa1hxOXRFSTFYbWtBSVZ2TkZueDhqQjVWclZhUVVUVVAKdXErVngzODdWdU5EWnhSRnlCZ04yeWhwZVN6NU9sZk1sQVV3OFJraTZlbW5taFM4WUViQXRKeU9mUVk0eUV4UExRU1ZPYQpBOXpkOTIzT3lPcnZVTWZXN0RjaWFwNE4zUnJLK0xBcTJJUjh2YWp1bjh5c2plVmtWbVVnUk4yWjFnRkJVcU1CQzlZNDA4ClJkbmVxNFhya0txeTR1eTRLTnU5QVBmM3RjMWRzT0lsSVNVcUExaWJrZlQ5TklZL2FESmdLdjBub3ZTb05EdGRsQ3NSa3oKb002NjdTTE53cEhCc2w5S08wbU1hNlJqd0M0bXdLcWxCcGM2UnhJUzRXRlJwaXJQTkYycUNXWHdFRkxLQXZaSjdmdlVGWgozT2U3Qjh4R2lRSE5NMkhBSEhBQUFCQUFIRTdoSTNsWkZicWtVczhGU21mcGhFYlpqeEVYeElKY2J6ODdGN1VxRlhzRHdUCmRnc0JKanI4cGcvWUxBc242VTgwSjlYa3BNa0ZsZ3Vod0hRcEpZNTN1QUYwbm84OEUwT0lkSEdBTFdPRzk5bmU5M2g0S24KdHdsbEJyZDlCNmN2Y0FaUiszTG5TUzM0WUxWSUhZS0hYZlo3ZUs5Mms5NmZRaXZHeENJaWNsYXhlbjMrME10TUl0K21OYgpQRGJsU1NuRGxxa3d5Q0RjUnhLUUlNMEZrc2NhaWNodkZuWHFwRkhFNnVOZjUvUnIrU2wvaGl0bFRTNGZsd0RVbDlkYlYzCks3eTltc3BXMkJZclgrRjNlR1B4QUdrN0QzR2M5bUVMcTBlNE5QVnh5YmZSdTE5akt6clI5dVJ5Y2FmaWV5YmtweG1DUSsKc1EwSGxKNnpaTUFlMDdJQUFBRUJBTXlhOURWQ1owYklaaE5kenlsVUhWTFFEcWo0R1REa292N3RtZklEODdTL0pwZ3JVeAp6WlNpWlljU3RqVnk2Q3NSVjYrT0h4ZTVXeTdKMUxNQ2JZa2hvaG52L3pxdVFLRjQxWEV5MTJSVGxWZnZhM244Znh5U0hWCktYMTJSNGpFY2NtdVhsSGcwYWplYm4vQXJhYStqVjVIOEUzem9PbS9IMS9aMHlBMUJPUzU2bTdhQW0xeVZNWHlES2ljZ1IKTzZWVE9LOGVTcllLOFNrcDlMdW0vNERPNGFFVFR1S3lkUmkrRysyNFFpWU1Cb2IreVJudGR3N25rMDJKOXFHRXRaZHZregplakdMd1phVWNDU0Rha1QzYlFmQmR1aWxXL1Y0TGk3b0lJdlVwTGROcG1JMmllem15ZVRKc3pjS1g1aUNsV3JGdi9rdHp5CkJOdHlkaTNobzFKOThBQUFFQkFMNnc3UUVSYjFpb3d2bHhsY0F2RmxkNXRNUnBQMXplU3plOFFMYnRSQWswd0l2dkswOE0KbGJLWkh0MnRvUnBqQXE4bHpwSWJmRktNODVYNFpjR2JJNUNETURDbVRiT3B4ZDlONHZTVEtaR1loaDMxaTBWbVdrVk83aworQnpuVWo5L1M2MFJ5WER4RFlTWmlQSXJ6L1EyNk5MdWx3OEVWWWZiVDZmbzkvNHlsamcwSlU4dUZwclY3ZDF0Y3lSbHRFCmp6bWNvTURTZW5na2I0RlI4clNKYnJjam82MVQ1eEhaNVF3akFtSUczU29YOVluaExWSDU2cXdVMGtPOFZQMlFwNVZSVUcKUHZUcmRIWExiT3UzRXFJU2U1RG9IWjlnQUNUd3FGU094ZUNicSt5THNvVzBiNmlDa21xNmxFeDdDT2Rpei9QUDA2ejRacQpBWGJmcGpNMjJRc0FBQUFVWVhOMWMwQk1RVkJVVDFBdFREZEtVbEZKVFVJQkFnTUVCUVlICi0tLS0tRU5EIE9QRU5TU0ggUFJJVkFURSBLRVktLS0tLQo="

    # Setup SSH
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    # - ssh-keygen -p -P "" -m PEM -f ~/.ssh/id_rsa || true
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts

    - ssh $DEPLOY_USER@$DEPLOY_HOST "
        cd $DEPLOY_PATH &&
        echo 'Pulling latest code...' &&

        git fetch gitlab $BRANCH_DEPLOY &&
        git reset --hard gitlab/$BRANCH_DEPLOY &&
        echo 'Creating DB backup...' &&
        mkdir -p storage/backups &&
        mysqldump -u$MYSQL_USER -p$MYSQL_PASSWORD $MYSQL_DATABASE > storage/backups/db_backup_$(date +%F_%H-%M-%S).sql &&
        echo 'Backup completed.' &&

        php artisan route:clear &&
        php artisan config:clear &&
        php artisan view:clear &&

        composer install --no-dev --optimize-autoloader &&
        php artisan migrate --force &&

        php artisan config:cache &&
        php artisan route:cache &&
        php artisan view:cache &&

        sudo systemctl reload php8.2-fpm &&
        sudo systemctl restart nginx
      "
  environment:
    name: production
    url: http://$DEPLOY_HOST
  

